# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
.next/
out/
.turbo/
*.tsbuildinfo

# Env & secrets
.env
.env.local
.env.*.local
!.env.example

# Logs & debug
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Test / coverage
coverage/
.nyc_output/

# Misc
*.pem
.vercel
